
<h1>@ViewBag.OneWedding.WedderOne and @ViewBag.OneWedding.WedderTwo's wedding</h1>
<h1>Address: @ViewBag.OneWedding.Address</h1>
<h1>Guest list: </h1>
@foreach (Guest g in ViewBag.OneWedding.Attendees)
{
    <h1>@g.Attending.Firstname</h1>
}


<a href="/" class="btn btn-danger">Log out</a>
<a href="/Dashboard" class="btn btn-primary">Home</a>