<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <div>
            <label for="Name">Name</label>
            <input type="text" name="Name" id="Name" class="form-control">
        </div>
        <div>
            <label for="Location">Location</label>
            <input type="text" name="Location" id="Location" class="form-control">
        </div>
        <div>
            <label for="Language"> Favorite Language</label>
            <input type="number" name="Language" id="Language" class="form-control">
        </div>
        <textarea>
        <input type="submit" value="Submit">
    </form>
</body>
</html>