<div class="content">
    <img src="https://placedog.net/1000?random" alt="dog banner" class="dogBanner">
    <h3 class="textColor1 inside">"Dogs are not our whole life, but they make our lives whole." -Roger Caras</h3>
</div>

<h1 class="textColor1 fb">Our History</h1>
<p>​Hopeful Tails is a non-profit, volunteer based organization based in Joliet, Illinois. Our organization started out with a group of volunteers from another rescue, who wanted to make a larger impact. On October 13th, 2013, the founders met and by November 26th, Hopeful Tails officially became a foster based rescue. Two years after establishment, we relocated to our current location. Hopeful Tail’s goal is to make a difference in the lives abandoned, abused, and neglected animals, and through our dedication and care, we have been fortunate enough to rescue over 3,000 dogs. We are now a 501c3 Not-for-Profit corporation registered in Illinois and licensed by the State of Illinois Department of Agriculture, Bureau of Animal Health and Welfare. In 2018, we were named the Best of Joliet Award in the category of Animal Rescue Service. As Hopeful Tails continues to grow and face new endeavors, we depend on our staff, volunteers, donors and community for support.</p>