<div class="content">
    <img src="https://placedog.net/1000?random" alt="dog banner" class="dogBanner">
    <h2 class="textColor1 inside">Adoption</h2>
</div>
<h1 class="pT textColor1 fb">Adoption and Viewing are by Appointment Only</h1>
<p class="text-center">If you are interesting in adopting, please e-mail us at <span><a href="#">hopefultailsadoptions@outlook.com</a></span> so we can send you an adoption application and arrange for you to meet the dog(s) you are interested in.</p>
<h4>All adoption fees include:</h4>
<ul> 
    <li>spay/neuter </li>
    <li>updating vaccinations</li>
    <li>micro-chip implant</li>
</ul>
<h3>Adoption Application</h3>
<a href="/AdoptAppPdf">Download File (pdf)</a><br>
<a href="/AdoptAppDoc">Download File (docx)</a>
<h3>Adoption Contract</h3>
<a href="/AdoptConPdf">Download File (pdf)</a><br>
<a href="/AdoptConDocx">Download File (docx)</a>
<p>This form only needs to be filled out if you are approved and officially adopting a specific animal.</p>
<p>Please send completed form by e-mail, mail, or drop off at the shelter. Word Documents can be opened, filled in, saved and then e-mailed back.  Either format can be printed, completed, scanned and then e-mailed back.
E-mail forms to <span><a href="#">hopefultailsadoptions@outlook.com</a></span></p>
<h1 class="textColor1 fb">Requirements to Adopt</h1>
<ul>
    <li>Be at least 21 years of age</li>
    <li>Provide proof of permission to house an animal (e.g. rental agreement, written landlord approval, proof of home ownership)</li>
    <li>Be able and willing to spend the time and money necessary to provide proper care, training, medical treatment, and a lifelong home for the animal(s).</li>
    <li>Live within a two hour radius of Joliet, Illinois (to allow our volunteers to do home checks if necessary).​​</li>
</ul>
<p>We are always willing to make every effort to work with you to address concerns or find the most appropriate companion animal. Hopeful Tails reserves the right to refuse an adoption.</p>
<h1 class="textColor1 fb">After Adopting</h1>
<ul>
    <li>Follow up with your vet.</li>
    <li>Keep up with vaccinations for your pet.</li>
    <li>Don't forget to get a name tag for your dog.</li>
    <li>Don't forget to purchase a rabies tag.</li>
    <li>Don't forget to take preventative measures against fleas, ticks, and heartworm.</li>
    <li>Don't forget to check fecal sample after adoption.</li>
    <li>Use harnesses for your puppy.</li>
</ul>