<div class="content">
    <img src="https://placedog.net/1000?random" alt="dog banner" class="dogBanner">
    <h2 class="textColor1 inside">Donations Are Always Appreciated!</h2>
</div>
<h1 class="pT textColor1 fb">Amazon Smile</h1>
<p>AmazonSmile is a website operated by Amazon with the same products, prices, and shopping features as Amazon.com. The difference is that when you shop on AmazonSmile, the AmazonSmile Foundation will donate 0.5% of the purchase price of eligible products to the charitable organization of your choice</p>
<h1 class="textColor1 fb">To Choose Your Charitable Organization:</h1>
<ol>
    <li>Sign in to <span><a href="https://smile.amazon.com/charity?orig=%2F">smile.amazon.com</a></span> on your desktop or mobile phone browser.</li>
    <li>From your desktop, go to Your Account from the navigation at the top of any page, and then select the option to Change your Charity. Or, from your mobile browser, select Change your Charity from the options at the bottom of the page.</li>
    <li>Select a new charitable organization to support</li>
</ol>
<h1 class="textColor1 fb">Monetary Donations</h1>
<p>Caring for sick animals is very costly. We give them all a fighting chance, but have very high veterinary bills as a result. As a non-profit 501c3 organization, we do not receive government funding and rely solely on the generous donations from individuals, businesses and the community. Monetary donations can be made through our PayPal. Please consider donating, volunteering, adopting, fostering, or sharing information about us! You can donate through our PayPal link or by sending a check to Hopeful Tails Animal Rescue 2303 Oak Leaf Street, Joliet, IL, 60436.</p>