<div class="content">
    <img src="https://placedog.net/1000?random" alt="dog banner" class="dogBanner">
    <h2 class="textColor1 inside">Events</h2>
</div>
<div class="text-center">
    <h1 class="pT textColor1 fb">Adoption Events</h1>
    <p>We typically do events at a variety of locations 2-4 times per month.  You can find us at Louis Joliet Mall twice a month!  We also do Adoption Events/Open Viewing at our building (2303 Oakleaf St. Joliet, IL) weekly.
    Please check our Facebook page or email us for exact times/dates for these adoption events.</p>
    <h1 class="textColor1 fb">PetSmart Adoption Events</h1>
    <h6>We work with PetSmart during 4 National Adoption Weekends per year.</h6>
    <section class="warmBg">
        <h3>We are typically at the Yorkville PetSmart on:</h3>
        <ul class="remove">
            <li>Friday Nights 5:00pm-8:00pm</li>
            <li>​Saturdays 11:00am - 2:00pm</li>
            <li>Sundays 12:00pm-3:00pm</li>
        </ul>
    <p>Please check our Facebook page or e-mail our Adoption Coordinator to verify which location we will be at for upcoming National Adoption weekends that interest you <span><a href="#">hopefultailsadoptions@outlook.com</a></span></p>
    </section>
    <h1 class="textColor1 fb">Bath Fundraisers</h1>
    <p>We host bath fundraisers about twice a month!<br> 
    ​No appointments are needed.  Dates and times for these can be found on our Facebook page or you can e-mail hopefultailsadoptions@outlook.com to ask when the next one is!<br>
    You can help support our rescue by attending local restaurant fundraiser night! Make sure to mention Hopeful Tails when paying or show the appropriate flyer on your phone to your server. We receive a portion of the proceeds. All proceeds are used for our dogs medical expenses.</p>
    <h1 class="textColor1 fb">Restaurant Fundraisers</h1>
    <p>​​You can help support our rescue by attending local restaurant fundraiser night! Make sure to mention Hopeful Tails when paying or show the appropriate flyer on your phone to your server. We receive a portion of the proceeds. All proceeds are used for our dogs medical expenses.​</p>
</div>