<div class="content">
    <img src="https://placedog.net/1000?random" alt="dog banner" class="dogBanner">
    <h2 class="textColor1 inside">Forms</h2>
</div>
<h1 class="pT textColor1 fb">Adoption</h1>
<h3>Adoption Application</h3>
<a href="/AdoptAppPdf">Download File (pdf)</a><br>
<a href="/AdoptAppDoc">Download File (docx)</a>
<h3>Adoption Contract</h3>
<a href="/AdoptConPdf">Download File (pdf)</a><br>
<a href="/AdoptConDocx">Download File (docx)</a>
<p>This form only needs to be filled out if you are approved and officially adopting a specific animal.</p>
<p>Please send completed form by e-mail, mail, or drop off at the shelter. Word Documents can be opened, filled in, saved and then e-mailed back.  Either format can be printed, completed, scanned and then e-mailed back.
E-mail forms to <span><a href="#">hopefultailsadoptions@outlook.com</a></span></p>

<h1 class="textColor1 fb">Fostering</h1>
<h3>Fostering Application</h3>
<a href="/FosterAppPdf">Download File (pdf)</a><br>
<a href="/FosterAppDoc">Download File (docx)</a>
<h3>Fostering Contract</h3>
<a href="/FosterConPdf">Download File (pdf)</a><br>
<a href="/FosterConDocx">Download File (docx)</a>
<p>This form must be completed once you are approved and will be receiving a specific foster.</p>
<p>Please send completed form by e-mail, mail, or drop off at the shelter. Word Documents can be opened, filled in, saved and then e-mailed back.  Either format can be printed, completed, scanned and then e-mailed back.
E-mail forms to <span><a href="#"> hopefultailsfostering@gmail.com</a></span></p>

<h1 class="textColor1 fb">Volunteer</h1>
<h3>Volunteer Application</h3>
<a href="/VolunteerAppPdf">Download File (pdf)</a><br>
<a href="/VolunteerAppDocx">Download File (docx)</a>
<p>Please print, complete this form, and bring to with to your orientation session. </p>
