<div class="content">
    <img src="https://placedog.net/1000?random" alt="dog banner" class="dogBanner">
    <h2 class="textColor1 inside">Forms</h2>
</div>
<h1 class="pT textColor1 fb">Adoption</h1>
<h3>Adoption Application</h3>
<a href="https://www.hopefultailsanimalrescue.org/uploads/3/4/6/7/34672309/hopefultailsadoptionapp_updated_2020.pdf">Download File (pdf)</a><br>
<a href="https://www.hopefultailsanimalrescue.org/uploads/3/4/6/7/34672309/hopefultailsadoptionapp_updated_2020.doc">Download File (docx)</a>
<h3>Adoption Contract</h3>
<a href="https://www.hopefultailsanimalrescue.org/uploads/3/4/6/7/34672309/adoption_contract.pdf">Download File (pdf)</a><br>
<a href="https://www.hopefultailsanimalrescue.org/uploads/3/4/6/7/34672309/adoption_contract.docx">Download File (docx)</a>
<p>This form only needs to be filled out if you are approved and officially adopting a specific animal.</p>
<p>Please send completed form by e-mail, mail, or drop off at the shelter. Word Documents can be opened, filled in, saved and then e-mailed back.  Either format can be printed, completed, scanned and then e-mailed back.
E-mail forms to <span><a href="#">hopefultailsadoptions@outlook.com</a></span></p>

<h1 class="textColor1 fb">Fostering</h1>
<h3>Fostering Application</h3>
<a href="https://www.hopefultailsanimalrescue.org/uploads/3/4/6/7/34672309/foster_application_2017.pdf">Download File (pdf)</a><br>
<a href="https://www.hopefultailsanimalrescue.org/uploads/3/4/6/7/34672309/foster_application_2017.docx">Download File (docx)</a>
<h3>Fostering Contract</h3>
<a href="https://www.hopefultailsanimalrescue.org/uploads/3/4/6/7/34672309/foster_contract__1_.pdf">Download File (pdf)</a><br>
<a href="https://www.hopefultailsanimalrescue.org/uploads/3/4/6/7/34672309/foster_contract.docx">Download File (docx)</a>
<p>This form must be completed once you are approved and will be receiving a specific foster.</p>
<p>Please send completed form by e-mail, mail, or drop off at the shelter. Word Documents can be opened, filled in, saved and then e-mailed back.  Either format can be printed, completed, scanned and then e-mailed back.
E-mail forms to <span><a href="#"> hopefultailsfostering@gmail.com</a></span></p>

<h1 class="textColor1 fb">Volunteer</h1>
<h3>Volunteer Application</h3>
<a href="https://www.hopefultailsanimalrescue.org/uploads/3/4/6/7/34672309/volunteer_application_2019.pdf">Download File (pdf)</a><br>
<a href="https://www.hopefultailsanimalrescue.org/uploads/3/4/6/7/34672309/volunteer_application_2019.docx">Download File (docx)</a>
<p>Please print, complete this form, and bring to with to your orientation session. </p>
