<div class="content">
    <img src="https://placedog.net/1000?random" alt="dog banner" class="dogBanner">
    <h2 class="textColor1 inside">Fostering</h2>
</div>
<section class="warmBg">
    <p class="pT text-center">If you are interested in learning more about fostering, here is a link to a great article about fostering from <span><a href="http://www.petfinder.com/animal-shelters-and-rescues/fostering-dogs/what-is-dog-fostering/">Petfinder</a></span></p>
    <h3>Fostering Application</h3>
    <a href="/FosterAppPdf">Download File (pdf)</a><br>
    <a href="/FosterAppDoc">Download File (docx)</a>
    <h3>Fostering Contract</h3>
    <a href="/FosterConPdf">Download File (pdf)</a><br>
    <a href="/FosterConDocx">Download File (docx)</a>
    <p>This form must be completed once you are approved and will be receiving a specific foster.</p>
    <p>Please send completed form by e-mail, mail, or drop off at the shelter. Word Documents can be opened, filled in, saved and then e-mailed back.  Either format can be printed, completed, scanned and then e-mailed back. E-mail forms to <span><a href="#"> hopefultailsfostering@gmail.com</a></span></p>
</section>
<h1 class="textColor1 fb">Fostering Benefits</h1>
<p class="text-center">Fostering a dog is one of the most rewarding experiences you can have (other than adopting, of course). By taking an animal in need temporarily into your home you are:</p>
<ul>
    <li>Freeing up a spot so we can possibly rescue another dog.</li>
    <li>Giving your foster dog the time, care, attention and love he needs to be ready for adoption.</li>
    <li>Helping us learn more about the dog so he can end up in the best home possible.</li>
    <li>In some cases, following through with much needed medical care to help get the dog healthy and ready to be adopted.</li>
    <li>Socializing the dog to a home environment and possibly getting him used to being around other pets and different types of people.</li>
    <li>Doing one of the most rewarding things you can do - literally helping save a life!</li>
</ul>
<h1 class="textColor1 fb">Foster Families Must</h1>
<ul>
    <li>Refer to the animal by its given name (this is necessary for record keeping, appointments, public information, etc.)</li>
    <li>Allow a Hopeful Tails representative to visit the premises to insure that the terms of agreement have been kept</li>
    <li>Provide the animal with adequate fresh food and water, clean, dry shelter when outside, and daily exercise</li>
    <li>Provide a safe collar with rabies and I.D. tags to be worn at all times.</li>
    <li>Obey all applicable laws governing control and custody of animals.</li>
    <li>Foster the animal as a family companion only</li>
    <li>Ensure the pet does not ride loose in the bed of pickup trucks, convertibles and is not left in a car when air temperatures exceed 70 degrees</li>
    <li>Have a clean, secure fenced area for the pet. If a fenced enclosure is not available, the pet should be walked using a leash.</li>
    <li>Bring the animal to veterinary appointments and adoption events or allow for Hopeful Tails to make arrangements for alternative transportation to get them to the appropriate appointments/events.</li>
    <li>Allow potential adopters that Hopeful Tails has approved to meet the foster dog at the family home OR at another reasonable location.</li>
    <li>Facilitate meetings with prospective adopters and answer questions by potential adopters.</li>
    <li>Respond to Hopeful Tails within twenty four hours concerning the animal and/or potential adopters</li>
</ul>
<section class="warmBg">
    <p class="text-center">Hopeful Tails retains legal control of all animals. Foster Families are not authorized to make any legal or medical decisions on his/her behalf.<br>
    Our organization makes no guarantees or statements regarding the dog's age, breed, health, or temperament. While we have made every effort to provide accurate history and assessment of the dog, Hopeful Tails is not able to guarantee the dog’s age, breed, medical status, behavior or disposition. Hopeful Tails is available for consultation, advice and assistance pertaining to the health, training and compatibility of the dog.<br>
    All medical expenses that are approved by the Hopeful Tails Board and treated through Hopeful Tails approved veterinary office will be covered by Hopeful Tails.<br>
    We cannot accommodate people fulfilling court-ordered community service within the Foster Care Program. We do not accept those convicted of violent crimes or crimes involving animal cruelty or neglect into this program.<br>
    Students seeking credit for school service requirements should speak with the Foster Care Coordinator to discuss the program before proceeding.<br>
    Upon returning a foster animal to Hopeful Tails, there will be a brief questionnaire about your foster animal’s behavior and personality that must be completed.<br>
    Hopeful Tails foster care volunteers may refuse any specific request for any reason.</p>
</section>