<div class="content">
    <img src="https://placedog.net/1000?random" alt="dog banner" class="dogBanner">
    <h2 class="textColor1 inside">All Help Welcome And Appreciated!</h2>
</div>
<h1 class="pT textColor1 fb">Did You Know?</h1>
<p class="fb text-center">Only 1 out of every 10 dogs born will find a permanent home.<br>
Dogs that enter shelters as strays more than double the amount that are given up by their owners<br>
Approximately 3.3 million dogs enter U.S. animal shelters nationwide every year.<br>
Want to do your part?</p>
<div class="container row fb spaceEven">
    <div class="col">
        <a href="/Adopt" class="btn-new">Adopt</a>
        <p class="ml">If you can't adopt...</p>
    </div>
    <div class="col">
        <a href="/Foster" class="btn-new">Foster</a>
        <p class="ml">If you can't foster...</p>
    </div>
    <div class="col">
        <a href="/Volunteer" class="btn-new">Volunteer</a>
        <p class="ml">If you can't volunteer...</p>
    </div>
    <div class="col">
        <a href="/Donate" class="btn-new">Donate</a>
    </div>
</div>




<h3 class="textColor1 text-center">No one person can do everything, but we can all do something. - Warren St John</h3>