@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="warmBg padB">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div><h1 class="doglink ">ADOPT</h1></div>
                    <a href="/Adopt"><img src="~/images/dog1.jpg" alt="dog1" class="gallery img-fluid"></a>
                </div>
                <div class="col-sm-4">
                    <div><h1 class="doglink">FOSTER</h1></div>
                    <a href="/Foster"><img src="~/images/dog2.jpg" alt="dog2" class="gallery img-fluid"></a>
                </div>
                <div class="col-sm-4">
                    <div><h1 class="doglink">VOLUNTEER</h1></div>
                    <a href="/Volunteer"><img src="~/images/dog3.jpg" alt="dog3" class="gallery img-fluid"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div><h1 class="doglink">DONATE</h1></div>
                    <a href="/Donate"><img src="~/images/dog4.jpg" alt="dog4" class="gallery img-fluid"></a>
                </div>
                <div class="col-sm-4">
                    <div><h1 class="doglink">WISHLIST</h1></div>
                    <a href="/Wishlist"><img src="~/images/dog8.jpg" alt="dog8" class="gallery img-fluid"></a>
                </div>
                <div class="col-sm-4">
                    <div><h1 class="doglink">EVENTS</h1></div>
                    <a href="/Events"><img src="~/images/dog9.jpg" alt="dog9" class="gallery img-fluid"></a>
                </div>
            </div>
        </div>
    </div>
    <h1 class="textColor1">Welcome To Hopeful Tails!</h1>
    <div class="row padB">
        <div class="col">
            <section class="warmBg">
            <p>Hopeful Tails Animal Rescue is a group of dedicated volunteers wanting to make a difference an the lives of abandoned, abused and/or neglected animals.</p>
            </section>
        </div>
        <div class="fb col">
            <a href="https://www.facebook.com/hopefultails/"><img src="~/images/fbLogo.jpg" alt="Facebook Logo" class="fbLogo"></a>
            <div>
                <a href="https://www.facebook.com/hopefultails/"><h6>Hopeful Tails Animal Rescue</h6></a>
                <p>19K followers</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="~/images/poster.png" alt="poster" class="poster">
        </div>
        <div class="col">
            <h1 class="textColor1">Hopeful Tales Rescues who have found their forever homes</h1>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/images/pupa.jpg" class="d-block w-100" alt="pup a">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/pupb.jpg" class="d-block w-100" alt="pup b">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/pupc.jpg" class="d-block w-100" alt="pup c">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/pupe.jpg" class="d-block w-100" alt="pup c">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/pupf.jpg" class="d-block w-100" alt="pup c">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/pupi.jpg" class="d-block w-100" alt="pup c">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/babies.jpg" class="d-block w-100" alt="pup c">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/dog6.jpg" class="d-block w-100" alt="pup c">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
