<div class="content">
    <img src="https://placedog.net/1000?random" alt="dog banner" class="dogBanner">
    <h2 class="textColor1 inside">Volunteering</h2>
</div>
<section class="warmBg text-center">
    <p class="pT">Thank you for your interest in volunteering with Hopeful Tails Animal Rescue! Our Volunteers are crucial to our animals and the success of our rescue. There are many aspects of volunteering with us.  Our committed volunteers socialize, walk, groom, clean up after, and cuddle the homeless animals entrusted to our care while we search for their forever home..  And that is just the beginning!  Our volunteers also show animals at offsite locations, work special events and share their special skills/talents/services with us! If you would like to start volunteering with us, please print, complete, and bring a form with you to your orientation session. Volunteers will need to attend a 1 1/2 hour orientation/training prior to volunteering. All volunteers must have a signed application/waiver on file. Please e-mail or visit our Facebook page to find out upcoming dates and times for these sessions.  Please e-mail our volunteer coordinator with any questions: <span><a href="#">hopefultailsvolunteers@outlook.com</a></span></p>
    <p>If you are looking for court ordered community service, please e-mail <span><a href="#">hopefultailsvolunteers@outlook.com</a></span> PRIOR to coming in or attending an orientation session.</p>
    <p>There are limited spots for each volunteer orientation session. Please RSVP at the <span><a href="https://www.facebook.com/HopefulTailsVolunteerPage/">Hopeful Tails Volunteer Facebook Page</a></span></p>
</section>
<h1 class="textColor1 fb">Volunteers Should</h1>
<ul>
    <li>Wear closed toed / non-slide shoes and should not wear dangling jewelry.</li>
    <li>Understand clothes and shoes may become dirty during volunteering</li>
    <li>Understand that all donations given to Hopeful Tails are the property of Hopeful Tails.</li>
    <li>Understand that volunteers do not receive compensation.</li>
    <li>Understand that volunteering at the Hopeful Tails building and/or working with the animals may lead to injury or illness</li>
    <li>Be up-to date on the Tetanus Shot</li>
    <li>Understand that volunteers do not receive salary or benefits</li>
    <li>Understand that using or being under the influence of alcohol or drugs is prohibited while volunteering.</li>
    <li>Understand that verbal or physical abuse to shelter volunteers or staff will not be tolerated.</li>
    <li>Adhere to all established policies and procedures.</li>
</ul>
<h1 class="textColor1 fb">Volunteer Expections</h1>
<ul>
    <li>Attend training classes when appropriate.</li>
    <li>Conduct themselves in a professional manner at all times when involved in Hopeful Tails activities.</li>
    <li>Perform tasks under the guidelines established within the job description for that task.</li>
    <li>Report any abusive behavior in the Rescue to the appropriate staff person.</li>
    <li>Adhere to all established policies and procedures.</li>
    <li>Treat the animals with respect and kindness</li>
    <li>Report animal injuries, illness or behavior concerns to a staff member.</li>
    <li>Follow all posted instructions in animal care areas.</li>
</ul>
<p class="warmBg text-center">Volunteer involvement may be terminated if the volunteer does not meet the commitment in an appropriate manner, or otherwise fail to adhere to the guidelines outlined on the Volunteer Application.</p>
<h3>Volunteer Application</h3>
<a href="https://www.hopefultailsanimalrescue.org/uploads/3/4/6/7/34672309/volunteer_application_2019.pdf">Download File (pdf)</a><br>
<a href="https://www.hopefultailsanimalrescue.org/uploads/3/4/6/7/34672309/volunteer_application_2019.docx">Download File (docx)</a>