<div class="content">
    <img src="https://placedog.net/1000?random" alt="dog banner" class="dogBanner">
    <h2 class="textColor1 inside">Donations</h2>
</div>
<h1 class="pT textColor1 fb text-center">All Donations Are Greatly Appreciated And Can Be Dropped Off Between 9:30am - 12pm Or 5:30 - 8pm Any Day.</h1>
<div class="row">
    <div class="col">
    <h3 class="textColor1 fb">Most Needed Items</h3>
        <ul>
            <li>Wet/Canned Dog Food</li>
            <li>Powdered Puppy Formula</li>
            <li>Dog Toys</li>
            <li>45 Gallon Garbage Bags</li>
            <li>Newspaper Paper</li>
            <li>Towels Dish Soap - especially Dawn</li>
            <li>Bleach or Bleach Tablets</li>
            <li>Pine Sol (or comparable)</li>
            <li>Odoban (available at Home Depot)</li>
            <li>Thin or small blankets</li>
            <li>Commercial Mop Heads (rag style)</li>
            <li>Garbage Can on Wheels</li>
            <li>Menard's Rebates (to purchase needed items)</li>
            <li>Zip-Lock Baggies - any size</li>
            <li>Spray Bottles Bathroom Cleaner</li>
            <li>Toilet Paper</li>
            <li>Disposable Latex Gloves</li>
            <li>Office Supplies</li>
            <li>Disinfectant Spray Cleaner</li>
            <li>2 1/2 Gallon Water Jugs with Pull out Spout </li>
        </ul>
    </div>
    <div class="col">
        <h3 class="textColor1 fb">Additional Items</h3>
        <ul>
            <li>Dog Crates/Carriers - any size</li>
            <li>Metal Dog Bowls</li>
            <li>Leashes, Collars & Harnesses - any size</li>
            <li>Dog Treats</li>
            <li>Dog Shampoo</li>
            <li>Towels</li>
            <li>Sheets</li>
            <li>Hand Sanitizer</li>
            <li>Hand Soap</li>
        </ul>
    </div>
</div>
<section class="warmBg text-center">
    <p>You can also purchase one of our dog's favorite beds using <span><a href="shelterbeds.org/index.php?route=events/events_view&event_id=209167&akey=11121">this link</a></span>.<br>
    Please e-mail us at <span><a href="#">hopefultails@outlook.com</a></span> to arrange the drop-off of any donations!</p>
</section>
<h1 class="textColor1 fb text-center">THANK YOU SO MUCH FOR YOUR SUPPORT AND GENEROSITY!</h1>